.productCart{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 343px;
    height: 80px;

}
.productCart img {
    width: 70px;
    height: 70px;
}
.productCart h1{
font-family: "Inter", sans serif;
font-weight: 700;
width: 160px;
height: 30px;
color: #333333;
}
.productCart button{
    border: none;
    background-color: #F5F5F5;
}
