.productsList{
display: flex;
flex-flow: row;
flex-wrap: wrap;
width: 100%;
height: 100%;

}
@media only screen  and (max-width: 800px) {

.productsList{
    overflow: hidden;
    overflow-x: auto;
    flex-flow: row;
}


}

    