@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.productCard{
    text-align: center;
    width: 20vw;
    height: 20vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.productImg{ 
    
    width: 300px;
    height: 150px;
}
.productImg img{
    width: 177px;
}
.product h1{   
font-family: "Inter";
font-weight: 700;
font-size: 18px;
color: #333333;
}
.productInfo span {
    color: #27AE60;
    
}
.productInfo button{
    color: white;
    background-color: #27AE60;
    border: 2px solid #27AE60;
    border-radius: 8px;
    width: 106px;
    height: 40px;
    gap:10px;
    padding: 0 20px;
}