@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.productCard{
   
    text-align: center;
    margin: 10px 10px 10px 45px;
    padding: 5px ;
    flex-wrap: wrap;
    border: solid  #F5F5F5 2px;
    box-sizing: border-box;
    width: 300px;
    height: 346px;
    border: #333333 solid 2px;
    
}
.productImg{ 
    background-color: #F5F5F5;
    width: 100%;
    height: 177px;
}
.productImg img{
    width: 177px;
}
.productInfo{
    text-align: left;
    flex-direction: column;
    background-color: #ffff;
    width: 100%;
    height: 189px;
}
.productInfo p {
    font-family: "Nunito",sans-serif;
    color: #333333;
}

.productInfo h1{   
font-family: "Inter";
font-weight: 700;
font-size: 18px;
padding: 10px;
color: #333333;
}
.productInfo span {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: #27AE60;
}
.productInfo button{
    color: white;
    background-color: #27AE60;
    border: 2px solid #27AE60;
    border-radius: 8px;
    width: 106px;
    height: 40px;
    margin: 10px 0 0 0;
    gap:10px;
    padding: 0 20px;
}